<div class="reg-container">
    <div class="patron-reg-form">
        <h2 class="reg-header">
            <strong>Edit Profile</strong>
        </h2>
        <form [formGroup]="patronProfile" (ngSubmit)="onSave(patronProfile.value)">
            <div class="form-row">
                <div class="form-row-element">
                    <label for="email">
                        EMAIL
                    </label>
                    <input id="email" type="text" formControlName="email">
                    <div *ngIf="prf.email.invalid && prf.email.touched" class="error-field">
                        Please enter a valid email address!
                    </div>
                </div>
            
                <div class="form-row-element">
                    <label for="name">
                        FIRST NAME
                    </label>
                    <input id="name" type="text" formControlName="name">
                    <div *ngIf="prf.name.invalid && prf.name.touched" class="error-field">
                        Name is required!
                    </div>
                </div>
            
                <div class="form-row-element">
                    <label for="surname">
                        SURNAME
                    </label>
                    <input id="surname" type="text" formControlName="surname">
                    <div *ngIf="prf.name.invalid && prf.name.touched" class="error-field">
                        Surname is required!
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-row-element">
                    <label for="username">
                        USERNAME
                    </label>
                    <input 
                        id="username" 
                        type="text" 
                        formControlName="username" 
                        disabled=true
                        title="Can't change username">
                    <div *ngIf="prf.username.invalid && prf.username.touched" class="error-field">
                        User is required! Length must be 6!
                    </div>
                </div>

                <div class="form-row-element">
                    <label for="password">
                        PASSWORD
                    </label>
                    <input type="password" formControlName="password">
                    <div *ngIf="prf.password.invalid && prf.password.touched" class="error-field">
                        Password should have 1 upper, 1 lower, 1 number and have at least 8 characters
                    </div>
                </div>
            
                <div class="form-row-element">
                    <label for="phone">
                        PHONE
                    </label>
                    <input id="phone" type="number" formControlName="phone">
                    <div *ngIf="prf.phone.invalid && prf.phone.touched" class="error-field">
                        Phone is required!
                    </div>
                </div>
            </div>

            <label for="address">
                STREET ADDRESS
            </label>
            <input type="address" formControlName="address" style="width: 100%;" >
            <div *ngIf="prf.address.invalid && prf.address.touched" class="error-field">
                Address is required!
            </div>

            <div class="form-row">
                <div class="form-row-element">
                    <label for="city">
                        CITY
                    </label>
                    <input id="city" type="text" formControlName="city">
                    <div *ngIf="prf.city.invalid && prf.city.touched" class="error-field">
                        City is required!
                    </div>
                </div>
            
                <div class="form-row-element">
                    <label for="province">
                        PROVINCE
                    </label>
                    <input id="province" type="text" formControlName="province">
                    <div *ngIf="prf.province.invalid && prf.province.touched" class="error-field">
                        Invalid Province. Length must be 2!
                    </div>
                </div>
            
                <div class="form-row-element">
                    <label for="postalCode">
                        POSTAL CODE
                    </label>
                    <input id="postalCode" type="text" formControlName="postalCode">
                    <div *ngIf="prf.postalCode.invalid && prf.postalCode.touched" class="error-field">
                        Invalid Postal Code!
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-row-element">
                    <label for="paymentType">
                        PAYMENT TYPE
                    </label>
                    <select class="custom-select" (change)="changePaymentType($event)" formControlName="paymentType">
                        <option value="" disabled>Choose your payment type</option>
                        <option *ngFor="let p of paymentOptions" [ngValue]="p">{{p}}</option>
                     </select>
                </div>
            
                <div class="form-row-element">
                    <label for="cc">
                        CARD NUMBER
                    </label>
                    <input id="cc" type="number" formControlName="cc">
                    <div *ngIf="prf.cc.invalid && prf.cc.touched" class="error-field">
                        Must be 12 digits long!
                    </div>
                </div>

                <div class="form-row-element">
                    <label for="ccName">
                        CARD HOLDER NAME
                    </label>
                    <input id="ccName" type="text" formControlName="ccName">
                    <div *ngIf="prf.ccName.invalid && prf.ccName.touched" class="error-field">
                        Card holder name is required!
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-row-element">
                    <label for="ccExpiry">
                        EXPIRY DATE
                    </label>
                    <input id="ccExpiry" type="text" formControlName="ccExpiry">
                    <div *ngIf="prf.ccExpiry.invalid && prf.ccExpiry.touched" class="error-field">
                        Must be 5 digits long!
                    </div>
                </div>
            
                <div class="form-row-element">
                    <label for="ccCode">
                        SECURITY CODE
                    </label>
                    <input id="ccCode" type="text" formControlName="ccCode">
                    <div *ngIf="prf.ccCode.invalid && prf.ccCode.touched" class="error-field">
                        Must be 3 digits long!
                    </div>
                </div>
            </div>

            <!-- <div formArrayName="vehicles">
                <div class="form-row" *ngFor="let v of vehicleLabels.controls; let i=index" [formGroupName]="i">
                    <div class="form-row-element">
                        <label for="vehicleMake">
                            VEHICLE MAKE
                        </label>
                        <input id="vehicleMake" type="text" formControlName="vehicleMake">
                        <div *ngIf="getValidity(0).invalid && getValidity(0).touched" class="error-field">
                            All Vehicle specific fields are required!
                        </div>
                    </div>
                
                    <div class="form-row-element">
                        <label for="vehicleModel">
                            VEHICLE MODEL
                        </label>
                        <input id="vehicleModel" type="text" formControlName="vehicleModel">
                    </div>
                
                    <div class="form-row-element">
                        <label for="license">
                            LICENSE PLATE NUMBER
                        </label>
                        <input id="license" type="text" formControlName="license">
                    </div>

                    <input id="del-vehicle-btn" type="button" value="Del" *ngIf="i !== 0" (click)="deleteVehicleLables(i)">
                    <input id="add-vehicle-btn" type="button" value="Add" *ngIf="i == 0" (click)="addVehicleLabels()">
                </div>
            </div> -->

            <label for="security1">
                SECURITY QUESTION 1
            </label>
            <input id="security1" type="text" formControlName="security1" style="width: 100%;">
            <div *ngIf="prf.security1.invalid && prf.security1.touched" class="error-field">
                This field is required!
            </div>

            <label for="answer1">
                ANSWER 1
            </label>
            <input id="answer1" type="text" formControlName="answer1">
            <div *ngIf="prf.answer1.invalid && prf.answer1.touched" class="error-field">
                This field is required!
            </div>

            <label for="security2">
                SECURITY QUESTION 2
            </label>
            <input id="security2" type="text" formControlName="security2" style="width: 100%;">
            <div *ngIf="prf.security2.invalid && prf.security2.touched" class="error-field">
                This field is required!
            </div>

            <label for="answer2">
                ANSWER 2
            </label>
            <input id="answer2" type="text" formControlName="answer2">
            <div *ngIf="prf.answer2.invalid && prf.answer2.touched" class="error-field">
                This field is required!
            </div>

            <br>
            <div class="profile-btn-group">
                <button 
                    type="submit" 
                    title="Complete form to enable button"
                    [disabled]="patronProfile.invalid"
                    >
                    Save Changes
                    <span class="loader"></span>
                </button>

                <input 
                    type="button"
                    value="Reset Changes"
                    (click)="initForm()"/>

                <input 
                    id="delete-account-btn"
                    type="button"
                    value="Delete Account"
                    (click)="onDelete()"/>
            </div>
        </form>
    </div>
</div>