<h2 class="top-bar-title">
    {{ title }}
</h2>

<h2 class="top-bar-title" *ngIf="!isLoginOrRegistration()">
  {{ currentLoggedInUserType + " view" | uppercase }}
</h2>

<div class="dropdown" *ngIf="!isLoginOrRegistration()">
    <button (click)="showDropdownMenu()" class="dropbtn"> {{ currentLoggedInUserName }}'s Home</button>
    <div id="myDropdown" class="dropdown-content">
      <!--  goes to either /patron or /enforcer (Home page)-->
      <a [routerLink]="['/' + currentLoggedInUserType]">Dashboard</a>
      <a 
        *ngIf="currentLoggedInUserType == 'patron'"

        [routerLink]="['/' + currentLoggedInUserType, 'report']"
        >Report an Incident
      </a>
      <a 
        *ngIf="currentLoggedInUserType == 'enforcer'"
        [routerLink]="['/' + currentLoggedInUserType, 'incidents']"
        >Review Incidents
      </a>
      <a 
        *ngIf="currentLoggedInUserType == 'enforcer'"
        [routerLink]="['/enforcer/issue-ticket']">Issue a Ticket
      </a>
      <!--  goes to either patron/profile or enforcer/profile-->
      <a [routerLink]="['/' + currentLoggedInUserType, 'profile']">Profile</a> 
      <a (click)="logout()">Logout</a>
    </div>
</div>
