<div class="container text-center">
    <h1>{{title}}</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchRes" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>address</th>
          <th>distance</th>
          <th>isOpen</th>
          <th>lots</th>
          <th>parkingId</th>
          <th>price</th>
          <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let r of enfServ.parkings | filter:searchRes">
            <td>{{r.payload.address}}</td>
            <td>{{r.payload.distance}}</td>
            <td>{{r.payload.isOpen}}</td>
            <td>{{r.payload.lots}}</td>
            <td>{{r.payload.parkingId}}</td>
            <td>{{r.payload.price}}</td>
            <td>Edit Button</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  