.reg-container {
    padding-top: 10px;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.form-row2 {
    display: flex;
    flex-direction: row;
  }

<<<<<<< HEAD
  .form-row3 {
    display: inline-block;
    flex-direction: row;
  }

=======
>>>>>>> c9dfe75abbbe18d30b65fdf88703d76e41e33530
.form-row-element {
  padding-right: 25px;
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-left: 20em;
  font-size: 17px;
}

.form-row-element input {
    height: 30px;
    width: 1000px;
}

.error-field {
  color: orangered;
  font-size: 50px;
  margin-top: -12px;
  margin-bottom: 5px;
}

.btn-group button {
  padding-top: 10px;
}

#username:hover {
  cursor: not-allowed;
}

.btn-group button {
<<<<<<< HEAD
    border: 1px solid black; /* Green border */
=======
    background-color: #293eff; /* Green background */
    border: 1px solid rgb(38, 23, 247); /* Green border */
    color: white; /* White text */
>>>>>>> c9dfe75abbbe18d30b65fdf88703d76e41e33530
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    height: 50px;
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
<<<<<<< HEAD

  .btn-toolbar{ text-align: center; }
  
  .btn-group-sort button {
    border: 2px solid rgb(0, 0, 0); /* Green border */
=======
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #293eff;
  }

  .btn-group-sort button {
    background-color: #293eff; /* Green background */
    border: 2px solid rgb(0, 0, 0); /* Green border */
    color: white; /* White text */
>>>>>>> c9dfe75abbbe18d30b65fdf88703d76e41e33530
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    display: block;
    width: 50%;
  }
  
  .btn-group-sort button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group-sort:after {
    content: "";
    clear: both;
    display: table;
  }
  
<<<<<<< HEAD
  .label {
    padding: 15px;
=======
  /* Add a background color on hover */
  .btn-group-sort button:hover {
    background-color: #293eff;
  }
  
  .label {
    color: rgb(17, 0, 255);
    padding: 8px;
>>>>>>> c9dfe75abbbe18d30b65fdf88703d76e41e33530
  }

  table{
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 1125px;
<<<<<<< HEAD
    margin-left: 20em; 
    margin-right: auto;
  }

  .center1{
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 500px;
=======
  }
  
  table.center {
>>>>>>> c9dfe75abbbe18d30b65fdf88703d76e41e33530
    margin-left: 20em; 
    margin-right: auto;
  }

<<<<<<< HEAD
  .search_categories .select{
    width: 120%;
    min-width: 160px;
    background-position:80% center;
  }
=======
    

    .name {
        
        background-color: #ffffff;
        font-size: 20px;
        display: block;

    } /* Green */
    .distance {
        
        background-color: #ffffff;
        font-size: 20px;
        display: block;

    } /* Green */
    .rate {
        
        background-color: #ffffff;
        font-size: 20px;
        display: block;

    } /* Green */
>>>>>>> c9dfe75abbbe18d30b65fdf88703d76e41e33530
